@media all and (max-width:700px){
    

    header{
        article{

            h1{
                font-size: 1.7rem;
            }
            p{
                font-size: 1rem;
                margin-bottom: 60px;
            }
        }
    }

    main{
        padding: 0;
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(200px, 1fr));
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4";

        .card{
            justify-content: start;
        }
    }
}